In [ ]:
'''1. What are data structures, and why are they important?
Data structures are specialized formats for organizing, processing, and storing data.
They are important because they enable efficient data access and modification.
Examples include lists, tuples, dictionaries, and sets.
Choosing the right structure improves performance and simplifies problem-solving.

2. Explain the difference between mutable and immutable data types with examples.
Mutable: Can be changed after creation.
Example: list = [1, 2, 3] → list[0] = 10

Immutable: Cannot be changed after creation.
Example: tuple = (1, 2, 3) → tuple[0] = 10 → * Error

3. What are the main differences between lists and tuples in Python?
Feature	List	Tuple
Syntax	[1, 2, 3]	(1, 2, 3)
Mutability	Mutable	Immutable
Speed	Slower	Faster
Use case	Dynamic data	Fixed data

4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs using a hash table. Each key is unique and maps to a value.
Example: {"name": "Ankit", "age": 22}

5. Why might you use a set instead of a list in Python?
Sets automatically remove duplicates.

They offer faster membership tests using hashing.

Ideal for operations like unions and intersections.

6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters, e.g., "hello".

Strings are immutable, while lists are mutable.

Lists can store different types; strings only store characters.

7. How do tuples ensure data integrity in Python?
Tuples are immutable, which prevents accidental changes. This is useful when you want to protect fixed data, such as coordinates or database keys.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores data using a hash function that maps keys to indices. Python's dictionary is built on hash tables for O(1) average time complexity for lookups, insertions, and deletions.

9. Can lists contain different data types in Python?
Yes. Python lists are heterogeneous, meaning they can hold multiple types:
[1, "hello", True, 3.5]

10. Explain why strings are immutable in Python.
Strings are immutable to:

Improve performance with memory management.

Ensure hash consistency (strings can be used as dictionary keys).

Make code safer by avoiding accidental changes.

11. What advantages do dictionaries offer over lists for certain tasks?
Faster lookups using keys (O(1) time).

Better for key-value associations (e.g., storing student info).

No need to search by index.

12. Describe a scenario where using a tuple would be preferable over a list.
When storing fixed data like coordinates (x, y), use a tuple:

python
Copy
Edit
location = (28.6139, 77.2090)
It's safe from modification.

13. How do sets handle duplicate values in Python?
Sets automatically discard duplicates.
set([1, 2, 2, 3]) → {1, 2, 3}

14. How does the in keyword work differently for lists and dictionaries?
In lists, in checks for the presence of a value.

In dictionaries, in checks for the presence of a key.

python
Copy
Edit
3 in [1, 2, 3] → True
"age" in {"name": "Ankit", "age": 22} → True
15. Can you modify the elements of a tuple? Explain why or why not.
No. Tuples are immutable, so their elements cannot be changed after creation. Trying to modify them causes a TypeError.

16. What is a nested dictionary, and give an example of its use case.
A nested dictionary is a dictionary inside another dictionary.
Example:

python
Copy
Edit
student = {
  "name": "Ankit",
  "marks": {"math": 85, "science": 92}
}
Useful in storing structured data like records.

17. Describe the time complexity of accessing elements in a dictionary.
O(1) on average due to hashing, which allows direct access using keys. Worst-case is O(n) if many keys hash to the same value (rare).

18. In what situations are lists preferred over dictionaries?
When order matters and indexing is required.

When storing sequences without key-value pairs.

For simple iterations or stacks/queues.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Before Python 3.7, dictionaries didn’t preserve insertion order. Though now they do, conceptually they are unordered, meaning retrieval is based on keys, not position/index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
List: Retrieve values by index → my_list[2]

Dictionary: Retrieve values by key → my_dict["name"]'''

'1. What are data structures, and why are they important?\nData structures are specialized formats for organizing, processing, and storing data. They are important because they enable efficient data access and modification. Examples include lists, tuples, dictionaries, and sets. Choosing the right structure improves performance and simplifies problem-solving.\n\n'

In [ ]:
#PRACTICAL QUESTION
'''1 Write a code to create a string with your name and print it'''
name = "Ankit Kumar"
print(name)

Ankit Kumar

In [1]:
#2 Write a code to find the length of the string "Hello World"P#
text = "Hello World"
print(len(text))

11

In [2]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"P
s = "Python Programming"
print(s[:3])

Pyt

In [3]:
#4 Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [4]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"P
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

In [5]:
#6 Write a code to create a list with numbers 1 to 5 and print itP
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [6]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [7]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [8]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [9]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

nums = (10, 20, 5, 15)
print(min(nums))

5

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [17]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [18]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [21]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [22]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [25]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [27]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [28]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[23, 27, 55, 71, 76]

In [29]:
#28. Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [30]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
#30. Write a code to convert a list of strings into a set.

str_list = ["apple", "banana", "apple", "cherry"]
str_set = set(str_list)
print(str_set)

{'cherry', 'apple', 'banana'}